<h1>Build orders</h1>

<div id="build_orders">
  <% @build_orders.each do |build_order| %>
    <%= render build_order %>
    <p>
      <%= link_to "Show this build order", user_build_order_path(@user, build_order) %>
    </p>
  <% end %>
</div>

<%= link_to "New build order", new_user_build_order_path(@user) %>
