<% provide(:title, "#{@user.username} | Build Orders | New") %>

<h1>New build order</h1>

<%= render "form", build_order: @build_order %>

<br>

<div>
  <%= link_to "Back to build orders", user_build_orders_path(@user) %>
</div>
