<% provide(:title, "About") %>
<div class="about-page"></div>
<div class="my-2 m-md-5 p-2 p-md-5">
    <h1 class="display-2">About SG-Benchmarker</h1>
    <hr class="mb-5">
    <h2>What is Stormgate Benchmarker?</h2>
    <p class="fs-3 mb-5">
    SG-Benchmarker is a simple app that lets you organize all of your build orders, and benchmarks for those build orders, for FrostGiant's real time strategy game <%= link_to 'Stormgate', "https://playstormgate.com/" %>. For those that are new to Stormgate or RTS games (real-time-strategy), a build order
is a list of steps that you memorize and execute during a match. We use build orders so that when you go into a match against another human opponent, you already have a plan in mind rather than just winging it.  A benchmark on the other hand is a brief documentation of how a specific match played out using a certain build order.  For example, if you played a 1v1 match using the build order called "15 SCOUT Rush", you can create a benchmark that will record when your attack hit, how many units you had at the start of the attack, whether you won or lost, and any other additional notes.  As an avid watcher of many Starcraft 2 streams over the years, I have seen many Grandmaster players record their benchmarks in text documents.  While there are always websites for RTS games that let you make build orders, there has never been a website that lets you track your benchmarks for those build orders (as far as I know). Therefore, I decided to make this app for anyone interested in keeping track of both in one place.
    </p>
    <h2>How to use this resource</h2>
    <p class="fs-3 mb-5">
   Once you make an account, you will be able to create and manage your build orders and benchmarks. Any build orders you make will be available to select in any of your future benchmarks.  Use the search bars to find benchmarks by specific criteria or find build orders by title. That's pretty much all there is to it!
    </p>
    <h2>Why benchmark your 1v1 matches in the first place?</h2>
    <p class="fs-3 mb-5">
    If you are just playing to have fun, there really is no need to benchmark your matches.  However, if you are trying to improve it is essential to keep track of your progress.  For example, if you use a build order that is supposed to hit with a timing attack at 6 minutes, and you play 20 games with this build order without benchmarking each match, how can you tell if you are using the build order successfully?  Winning or losing doesn't always indicate that you used the build order optimally.  By recording when your attack hit, you can visibly see if you were early, on time, or late with your build order.  Having access to this information can help you see if you need to make any adjustements to your build order.  Pushing yourself to beat your previous timing attack by even just a few seconds will not only make you a better player, but will add motivation to your games other than just winning. 
    </p>
    <h2>Is this really better than an excel spreadsheet or text document?</h2>
    <p class="fs-3">
    Maybe? Some people love the simplicity of spreadsheets and text docs, and that it totally fine! Whatever works for the individual.  Hopefully after trying out SG-Benchmarker though, you find at least some value in it :D
    </p>
</div>
<div class="mb-2 m-md-5 p-2 p-md-5">
    <h1 class="display-2">About Myself</h1>
    <hr class="mb-5">
    <p class="fs-3 mb-5">My name is Travis but on the ladder I go by TravTheBav. I have been playing RTS games my whole life, starting out with games like Age of Empires 1 and 2, Red Alert 2, and Starcraft Broodwar. While I still love all these games, Starcraft 2 is by far my all time favorite RTS and favorite video game in general. When it first came out I only really played the WOL campaign and custom games like Nexus Wars, Colonial Line Wars, and Squadron Defense.  After putting down the game for years, I decided to get back into it again in 2016, but this time jumped into the competitive 1v1 ladder.  While I never had played any competitive RTS before, I immediately became hooked on playing Terran. After years of grinding on and off, I can proudly say that I am forever stuck in Diamond 2. </p>
    <p class="fs-3 mb-5">Here's to Stormgate being the next greatest RTS and to all of you achieving your goals on the ladder.</p>
    <p class="fs-3 mb-5">- TravTheBav</p>
</div>
