<h1>Editing attack benchmark</h1>

<%= render "form", attack_benchmark: @attack_benchmark %>

<br>

<div>
  <%= link_to "Show this attack benchmark", @attack_benchmark %> |
  <%= link_to "Back to attack benchmarks", attack_benchmarks_path %>
</div>
