<% provide(:title, "#{@user.username} | Benchmarks") %>

<% if @user == current_user %>
  <div class="m-4"><%= link_to "New benchmark", new_user_attack_benchmark_path(@user) %></div>
<% end %>

<h1 class="mt-4 display-4 text-center">Benchmarks | <%= @user.username %></h1>

<div id="attack_benchmarks">
  <% @attack_benchmarks.each do |attack_benchmark| %>
    <%= render attack_benchmark %>
  <% end %>
</div>
