<p style="color: green"><%= notice %></p>

<h1>Attack benchmarks</h1>

<div id="attack_benchmarks">
  <% @attack_benchmarks.each do |attack_benchmark| %>
    <%= render attack_benchmark %>
    <p>
      <%= link_to "Show this attack benchmark", attack_benchmark %>
    </p>
  <% end %>
</div>

<%= link_to "New attack benchmark", new_attack_benchmark_path %>
