<div class="modal fade" id="avatarSelectionModal" tabindex="-1" aria-labelledby="avatarSelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id=avatarSelectionModalLabel>Pick an avatar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container d-flex flex-wrap gap-3">
        <% @avatars.each do |avt| %>
          <div class="icon-border">
            <%= link_to image_tag("avatars/#{avt.filename}", class: "round lg-icon"), profile_pictures_path(avatar_id: avt.id), data: { turbo_method: "post" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>