<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav-links" class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-4">
                <li class="nav-item"><%= link_to 'Profile', '#', :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to 'About', '#', :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to 'Log In', '#', :class => "nav-link" %></li>
            </ul>
        </div>
    </div>
</nav>
